<header class="main-header">
    <nav class="main-header__nav">
        <img alt="Wallaby Designs logo" class="logo" src="/images/wallaby.svg">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a></li>
            <li class="main-header__item"><a class="<%= path === '/prove02' ? 'active' : ''%>" href="/prove02">Prove 02</a></li>
        </ul>
    </nav>
</header>