<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <div class="none_found_base lost">
                <div class="none_found_overlay">
                    <span class="none_found">
                <h1>Page Not Found!</h1>
                <h2>Something went wrong!</h2>
            </span>
                </div>
            </div>

            <%- include('includes/end.ejs') %>