<body>
    <%- include('includes/navigation.ejs') %>
        <div class="none_found_base lost">
            <div class="none_found_overlay">
                <span class="none_found">
                <h1>Some error occurred!</h1>
                <h2>We're working on fixing this, sorry for the inconvenience!</h2>
            </span>
            </div>
        </div>

        <%- include('includes/end.ejs') %>