.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.order {
    padding-top: 50px;
    width: 80rem;
    max-width: 90%;
    margin: auto;
    display: block;
}