.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.order,
.object-area {
    padding-top: 50px;
    width: 70rem;
    max-width: 90%;
    margin: auto;
    display: block;
}